.App {
  text-align: center;
}

/* Style for nav */
.nav-link {
  color: #999;
}
.active {
  color: #444;
  background-color: #eee;
}

/* Style for table */
.table-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
tr,
th,
td {
  margin: 0;
  border: 1px solid #ddd;
  border-spacing: 0;
}

table {
  margin: 1em 0;
}

th,
td {
  padding: 7px 14px !important;
}

